<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matthias.feedbacklibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/supersede_feedbacklibrary_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/supersede_feedbacklibrary_app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnnotateActivity"
            android:label="Annotate Picture"
            android:screenOrientation="portrait" />
    </application>

</manifest>
