<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.uzh.supersede.feedbacklibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:label="@string/supersede_feedbacklibrary_feedback_library_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FeedbackLibrary">
        <!-- android:theme will be overriden from app:theme -->

        <activity
            android:name=".activities.AnnotateImageActivity"
            android:label="@string/supersede_feedbacklibrary_annotate_image_activity_name"
            android:theme="@style/AppTheme.FeedbackLibrary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeedbackHubActivity"
            android:theme="@style/AppTheme.FeedbackLibrary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeedbackActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FeedbackLibrary"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.FeedbackListActivity"
            android:theme="@style/AppTheme.FeedbackLibrary"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeedbackDetailsActivity"
            android:theme="@style/AppTheme.FeedbackLibrary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeedbackSettingsActivity"
            android:theme="@style/AppTheme.FeedbackLibrary"
            android:screenOrientation="portrait" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

    </application>

</manifest>