.App {
  text-align: center;
  background: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.widget-container > .launcher {
  display: none;
  background-color: #1A7E92;
}

.widget-container .conversation-container .header {
  background-color: #1A7E92;
}

.widget-container > .hide-sm {
  display: block;
}

.MyFeedbacksTabAccordion {
  color: #000;
}

.accordion__item	{
  background-color: #FFF;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
}

.accordion__body {
  padding-bottom: 16px;
}

.uk-comment-list {
  margin-top: 30px;
}

.uk-comment {
  display: flex;
  margin-top: 30px;
  background: #FFF;
  padding: 20px;
  width: 94%;
}

.uk-comment-header {
  display: flex;
  flex-direction: column;
}

button {
    background-color: #1A7E92;
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.forum-body-show-comment-container {
  margin-top: 10px;
}

.createCommentContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.usermessage {
  background: #82CAFF;
  float: inherit;
  line-height: 1.6;
  margin-left: 38%;
}

.oppositionmessage{
  background: #DAE2F3;
  float: inherit;
  line-height: 1.6;
  margin-right: 38%;
}

.Select {
  width: 30%;
  margin: 0 auto;
}

.forumComment {
  padding: 20px;
}

.iconContainer {
  display: flex;
}

.iconContainer svg {
  margin-left: 6px;
  flex-grow: 1;
  padding: 0 20px;
}

.iconContainer svg:first-child {
  margin-left: 0px;
}

.iconContainer .thumbsIconContainer {
  position: relative;
  margin-left: 10px;
  flex-grow: 1;
}

.forumIconContainer {
  padding-top: 10px;
}

.forumIconContainer > div {
  display: inline-block;
  margin-left: 10px;
}

.forumIconContainer svg {
  margin-left: 10px;
  flex-grow: 1;
}

.forumIconContainer svg:first-child {
  margin-left: 0px;
}

.forumIconContainer .thumbsIconContainer {
  position: relative;
  margin-left: 8px;
  flex-grow: 1;
}

.companyIconContainer {
  display: flex;
}

.companyIconContainer svg {
  margin-left: 6px;
  flex-grow: 1;
}

.companyIconContainer svg:first-child{
  margin-left: 0px;
}

.companytitle .disabled {
  color: #EEE;
  background-color: red;
}

.thumbsCount {
  position: relative;
  top: -10px;
  left: 2px;
  background: red;
  color: white;
  padding: 0 2px;
}

.counts {
  position: relative;
  top: -10px;
  left: 2px;
  background: red;
  color: white;
  padding: 0 2px;
}

.settingsbox {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: right;
  width: 63%;
  height: 14%;
  position: relative;
  right: 66%;
  left: 0;
  padding: 20px;
  overflow: hidden;
  background: #efefef;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
}

.accordion {
  border-top: 1px;
  border-bottom: 1px;
  border: solid;
}

.accodion .active, .accordion:hover {
  background-color: #ccc;
}

.accordion-content {
  display: none;
  background-color: white;
  overflow: hidden;
  padding: 0 18px;
  border: 1px solid #333333;
}

.spacingstyle{
  line-height: 200%;
}

.statuscomplete{
  color: black;
  border: 1px solid #333333;
  padding: 3px 7px;
 /* background-image: linear-gradient(180deg, #009933,  #00e64d);*/
  background-color: #009933;
  fontSize: 8px;
  line-height: 200%;
}

.statusprogress{
  color: black;
  border: 1px solid #333333;
  padding: 3px 7px;
/*  background-image: linear-gradient(180deg, #ff884d, #ffbb99);*/
  background-color: #ff884d;
  fontSize: 8px;
  line-height: 200%;
}

.statusdeclined{
  color: black;
  border: 1px solid #333333;
  padding: 3px 7px;
/*  background-image: linear-gradient(180deg, #b3003b, #ff1a66);*/
  background-color: #ff1a66;
  fontSize: 8px;
  line-height: 200%;
}

.statusreceived{
  color: black;
  border: 1px solid #333333;
  padding: 3px 7px;
 /* background-image: linear-gradient(180deg, #1a8cff,  #99ccff);*/
  background-color: #1a8cff;
  fontSize: 8px;
  line-height: 200%;
}

.statusunknown{
  color: black;
  border: 1px solid #333333;
  padding: 3px 7px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  fontSize: 8px;
  line-height: 200%;
}

.companyfeedbackform{
  line-height: 200%;
  color: #006CEF;
  text-align: justify;
  font-family: "Helvetica Neue";
}

.companyfeedbacktext{
  line-height: 200%;
  color: #000000;
  text-align: justify;
  font-family: "Helvetica Neue";
}

.formbuttons{
  background-color: #006CEF;
  border: none;
  color: white;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3px 1px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.formbuttons1{
  background-color: white;
  color: black;
  border: 2px solid #006CEF;
}

.formbuttons1:hover {
  background-color: #006CEF;
  color: white;
}

.formbuttons1:active {
  background-color: #006CEF;
  transform: translateY(4px);
}

.successful {
  background-color: #8cd9b1;
  color: #FFFFFF;
}

.dropzone {
  width: 600px;
  height: 240px;
  border-width: 2px;
  border-color: #676767;
  border-style: dashed;
  border-radius: 9px;
  background-color: #eeee;
}

.react-sanfona-item {
  border-bottom: 1px solid #cacaca;
  padding-top: 3px;
  padding-bottom: 3px;
}

.react-sanfona-item:last-child{
  border-bottom: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
