.App {
  text-align: center;
  background: #F2F2F2;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.widget-container > .launcher {
  display: none;
  background-color: #1A7E92;
}

.widget-container .conversation-container .header {
  background-color: #1A7E92;
}

.widget-container > .hide-sm {
  display: block;
}

.react-tabs {
  color: #000;
}

.tabselected {
  background: #1A7E92;
  color: #FFF;
}

.MyFeedbacksTabAccordion {
  color: #000;
}

.accordion__item	{
  background-color: #FFF;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
}

.accordion__body {
  padding-bottom: 16px;
}

.uk-comment-list {
  margin-top: 30px;
}

.uk-comment {
  display: flex;
  margin-top: 30px;
  background: #FFF;
  padding: 20px;
  width: 94%;
}

.uk-comment-header {
  display: flex;
  flex-direction: column;
}

button {
    background-color: #1A7E92;
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.forum-body-show-comment-container {
  margin-top: 10px;
}

.createCommentContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.Select {
  width: 30%;
  margin: 0 auto;
}

.forumComment {
  padding: 20px;
}

.iconContainer {
  display: flex;
}

.iconContainer svg {
  margin-left: 10px;
  flex-grow: 1;
}

.iconContainer svg:first-child {
  margin-left: 0px;
}

.iconContainer .thumbsIconContainer {
  position: relative;
  margin-left: 10px;
  flex-grow: 1;
}

.thumbsCount {
  position: relative;
  top: -10px;
  left: 2px;
  background: red;
  color: white;
  padding: 0 2px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
