.metadata/*
RemoteSystemsTempFiles/*
reporting_frontend/node_modules
server_library/src/ch/uzh/ifi/feedback/library/transaction/config.properties
.idea/
/repository/src/main/resources/application.properties
/repository/src/main/resources/application-test.properties

.DS_Store/
.DS_Store
