.drop-area {
  width: 100%;
  height: 150px;
  max-height: 150px;
  background: #efefef;
  border: 2px dashed #5f5f5f;
  text-align: center;
  overflow: hidden;
  padding-top: 60px;

  &.active {
    background: #d8d8d8;
  }
}

table.current-files {
  margin-top: 10px;
  font-size: 13px;
  color: #909090;

  td {
    padding-right: 15px;
  }
}

.attachment-review {

  tr {
    height: 20px;
  }

  a.remove-file {
    display: none;
  }
}