$feedbackEntryPointBoxShadow: 1px 1px 1px 0 #1A6FC2;
$dialogTitlebarColor: #1A6FC2;
$dialogTitlebarBorderColor: #1A6FC2;
$buttonBackgroundColor: #1A6FC2;
$buttonHoverBackgroundColor: #1A6FC2;
$buttonGradientEnabled: true;
$buttonGradientColor1: #1A6FC2;
$buttonGradientColor2: #1A6FC2;
$buttonGradientColor3: #1A6FC2;
$buttonHoverGradientColor1: #1A6FC2;
$buttonHoverGradientColor2: #1A6FC2;
$buttonTextColor: white;