@import "normalize";
@import "star-rating-svg";
@import "config";
@import "functions";

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Verdana, Arial, sans-serif;
  font-size: 15px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none;
  border: none;
}

.ui-dialog .ui-dialog-titlebar-close {
  margin: -12px -5px 0;
}

#feedbackEntryPoint {
  position: fixed;
  top: 300px;
  left: 0;
  padding: 4px 10px;
  text-decoration: none;
  box-shadow: $feedbackEntryPointBoxShadow;
}

.feedback-container {
  display: none;
  min-width: 1000px;
  max-width: 1000px;
  font-family: Arial, sans-serif;
  padding: 8px;
  color: #333333;
}

.ui-dialog-titlebar {
  background: transparent;
  border-bottom: 1px solid black;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  text-transform: uppercase;
}

.feedback-mechanism.horizontal {
  margin-bottom: 25px;

  .col {
    margin-left: 0;
    margin-right: 0;
  }

  .col-left {
    float: left;
    width: 23%;
    padding-right: 8px;
  }

  .col-right {
    float: right;
    width: 76%;
  }
}

textarea.text-type-text {
  width: 100%;
  min-width: 100%;
  border: 1px solid #4d4d4d;
  font-size: 15px;
  color: #7d7a7c;
  padding: 5px;
  margin-top: 6px;
}

.ui-dialog .ui-dialog-titlebar {
  font-family: Arial, sans-serif;
  color: $dialogTitlebarColor;
  font-weight: normal;
  border-bottom: 2px solid $dialogTitlebarBorderColor;
  font-size: 22px;
  margin: 2px 5px;
  padding: 0 0 0.25rem;
}

.ui-dialog h2 {
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 7px 0;
}

.ui-dialog-titlebar {
  border-color: $dialogTitlebarBorderColor;
  border-width: 1px;
  padding: 0;
  margin: 0;
}

p.explanation {
  margin-top: 7px;
  margin-bottom: 1px;
  font-size: 15px;
}

p.rating-text {
  margin-top: 1px;
  margin-bottom: 2px;
  font-size: 15px;
  line-height: 1.375em;
}

p.text-count {
  margin-bottom: 3px;
}

p.rating-input, p.text-count {
  margin-top: 4px;
}

section.dialog-navigation {
  margin: 13px 1px 3px 1px;
}

.button {
  background-color: $buttonBackgroundColor;
  @if bool($buttonGradientEnabled) {
    background-image: -moz-linear-gradient(top, $buttonGradientColor1 0%, $buttonGradientColor2 50%, $buttonGradientColor3 52%, $buttonBackgroundColor 100%);
    background-image: -webkit-linear-gradient(top, $buttonGradientColor1 0%, $buttonGradientColor2 50%, $buttonGradientColor3 52%, $buttonBackgroundColor 100%);
    background-image: -o-linear-gradient(top, $buttonGradientColor1 0%, $buttonGradientColor2 50%, $buttonGradientColor3 52%, $buttonBackgroundColor 100%);
    background-image: linear-gradient(top, $buttonGradientColor1 0%, $buttonGradientColor2 50%, $buttonGradientColor3 52%, $buttonBackgroundColor 100%);
  }
  background-size: 100% auto;
  color: $buttonTextColor;
  display: inline-block;
  font-size: 10px;
  padding: 0.375em 1.3em;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0;

  &.small {
    padding: 0.3em 0.9em;
    font-size: 12px;
    text-transform: none;
  }
}

.button:hover {
  background-color: $buttonHoverBackgroundColor;
  @if bool($buttonGradientEnabled) {
    background-image: -webkit-linear-gradient(top, $buttonHoverGradientColor1 0%, $buttonHoverGradientColor2 50%, $buttonGradientColor3 52%, $buttonHoverBackgroundColor 100%);
    background-image: -moz-linear-gradient(top, $buttonHoverGradientColor1 0%, $buttonHoverGradientColor2 50%, $buttonGradientColor3 52%, $buttonHoverBackgroundColor 100%);
    background-image: -o-linear-gradient(top, $buttonHoverGradientColor1 0%, $buttonHoverGradientColor2 50%, $buttonGradientColor3 52%, $buttonHoverBackgroundColor 100%);
    background-image: linear-gradient(top, $buttonHoverGradientColor1 0%, $buttonHoverGradientColor2 50%, $buttonGradientColor3 52%, $buttonHoverBackgroundColor 100%);
  }
}

.navigation-button {
  float: right;
}

.navigation-button :active {
  position: relative;
  top: 1px;
}

.feedback-dialog-backward {
  float: left;
}

.clearfix {
  clear: both;
}

.mechanism-review {
  font-style: italic;
}

.server-response {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

.server-response.success {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d0e9c6;
  border-radius: 0.25rem;
  padding: 15px;
}

.server-response.error {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebcccc;
  border-radius: 0.25rem;
  padding: 15px;
}

p.textarea-bottom {
  margin-top: 2px;
}

button.text-type-text-clear {
  background: none;
  margin: 2px;
  padding: 0;
  float: left;

  &:hover {
    color: #808080;
  }
}

.text-type-max-length {
  font-size: 14px;
  color: #4b4a4c;
  width: auto;
  display: inline-block;
  float: right;
}

.feedback-form-error {
  color: red;
  margin: 2px 0;
  font-size: 13px;
}

.screenshot-preview {
  border: 1px solid #393939;
  height: auto;
  display: none;
  margin-bottom: 10px;
  position: relative;
}

.screenshot-operations {
  display: none;

  .sticking img {
    width: 30px;
    height: auto;
  }

  p {
    font-size: 16px;
    margin-bottom: 2px;
  }
}

button.screenshot-operation {
  background: none;
  font-weight: normal;
  color: #000000;
  font-size: 14px;
  max-width: 30px;
  display: inline-block;
  margin-right: 1px;
  padding: 1px 1px;

  &.active {
    padding: 7px 7px;
  }
}

.sticker-container {
  position: absolute;
  z-index: 1000;
  top: 5px;
  left: 5px;
  padding: 10px;
  border: none;

  img {
    z-index: 1000;
    height: auto;
    width: 30px;
  }
}

.sticker-container:hover {
  border: 1px solid black;
}