.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Verdana, Arial, sans-serif;
  font-size: 15px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none;
  border: none;
}

.ui-dialog .ui-dialog-titlebar-close {
  margin: -12px -5px 0;
}

#feedbackEntryPoint {
  position: fixed;
  top: 300px;
  left: 0;
  padding: 4px 10px;
  text-decoration: none;
  box-shadow: 1px 1px 1px 0 #677a00;
}

#feedbackContainer {
  display: none;
  min-width: 800px;
  max-width: 800px;
  font-family: Arial, sans-serif;
  padding: 8px;
  color: #333333;
}

.ui-dialog-titlebar {
  background: transparent;
  border-bottom: 1px solid black;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
}

textarea#textTypeText {
  width: 100%;
  border: 1px solid #4d4d4d;
  font-size: 15px;
  color: #7d7a7c;
  padding: 5px;
  margin-top: 6px;
}

.ui-dialog .ui-dialog-titlebar {
  font-family: Arial, sans-serif;
  color: #7c9009;
  font-weight: normal;
  border-bottom: 2px solid #7c9009;
  font-size: 22px;
  margin: 2px 5px;
  padding: 0 0 0.25rem;
}

.ui-dialog h2 {
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 7px 0;
}

.ui-dialog-titlebar {
  border-color: #7c9009;
  border-width: 1px;
  padding: 0;
  margin: 0;
}

p.explanation {
  margin-top: 7px;
  margin-bottom: 1px;
  font-size: 15px;
}

p.rating-text {
  margin-top: 1px;
  margin-bottom: 2px;
  font-size: 15px;
  line-height: 1.375em;
}

p.text-count {
  margin-bottom: 3px;
}

p.rating-input, p.text-count {
  margin-top: 4px;
}

section.dialog-navigation {
  margin: 13px 1px 3px 1px;
}

.button {
  background-color: #546300;
  background-image: -moz-linear-gradient(top, #8aa221 0%, #8eab10 50%, #7c9009 52%, #546300 100%);
  background-image: -webkit-linear-gradient(top, #8aa221 0%, #8eab10 50%, #7c9009 52%, #546300 100%);
  background-image: -o-linear-gradient(top, #8aa221 0%, #8eab10 50%, #7c9009 52%, #546300 100%);
  background-image: linear-gradient(top, #8aa221 0%, #8eab10 50%, #7c9009 52%, #546300 100%);
  background-size: 100% auto;
  color: white;
  display: inline-block;
  font-size: 10px;
  padding: 0.375em 1.3em;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 3px;
}

.button:hover {
  background-image: -webkit-linear-gradient(top, #7f9718 0%, #7d970b 50%, #7c9009 52%, #617203 100%);
  background-image: -moz-linear-gradient(top, #7f9718 0%, #7d970b 50%, #7c9009 52%, #617203 100%);
  background-image: -o-linear-gradient(top, #7f9718 0%, #7d970b 50%, #7c9009 52%, #617203 100%);
  background-image: linear-gradient(top, #7f9718 0%, #7d970b 50%, #7c9009 52%, #617203 100%);
  background-color: #617203;
}

.navigation-button {
  float: right;
}

.navigation-button :active {
  position: relative;
  top: 1px;
}

.feedback-dialog-backward {
  float: left;
}

.clearfix {
  clear: both;
}

#feedbackPrivacy {
  font-size: 15px;
  margin: 4px 0;

  fieldset {
    border: none;

    p {
      margin: 4px 0;
    }
  }
}

#textReview {
  font-style: italic;
}

#serverResponse {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

#serverResponse.success {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d0e9c6;
  border-radius: 0.25rem;
  padding: 15px;
}

#serverResponse.error {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebcccc;
  border-radius: 0.25rem;
  padding: 15px;
}

p.textarea-bottom {
  margin-top: 2px;
}

button#textTypeTextClear {
  background: none;
  margin: 2px;
  padding: 0;
  float: left;

  &:hover {
    color: #808080;
  }
}

#textTypeMaxLength {
  font-size: 14px;
  color: #4b4a4c;
  width: auto;
  display: inline-block;
  float: right;
}

.feedback-form-error {
  color: red;
  margin: 2px 0;
  font-size: 13px;
}

#screenshotPreview {
  width: 100%;
  border: 1px solid #393939;
  height: auto;
  display: none;
  margin-bottom: 10px;
}
