<h2>Users</h2>

<br/>

<main class="row">
  <article class="col-md-4">
    <table class="table">
      <thead>
      <tr>
        <th>Username</th>
        <th>E-Mail</th>
        <th>active</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>ronnie</td>
        <td>ronnieschaniel@gmail.com</td>
        <td><i class="glyphicon glyphicon-ok"></i></td>
        <td>
          <i class="glyphicon glyphicon-pencil"></i>
          &nbsp;
          <i class="glyphicon glyphicon-remove"></i>
        </td>
      </tr>
      <tr>
        <td>username</td>
        <td>info@example.com</td>
        <td></td>
        <td>
          <i class="glyphicon glyphicon-pencil"></i>
          &nbsp;
          <i class="glyphicon glyphicon-remove"></i>
        </td>
      </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
    </button>

  </article>
</main>
