{{#if active}}
    <section id="ratingMechanism{{ id }}" class="feedback-mechanism horizontal rating-type">
        <p style="{{#if mandatory}}{{ ../mandatoryLabelStyle }}{{/if}}" class="rating-text col col-left">
            {{ title }}{{#if mandatory }} {{ ../mandatorySign }}{{/if}}
        </p>
        <p class="rating-input col col-right">

        </p>
        <div class="clearfix"></div>
    </section>
{{/if}}