{{#if active}}
    <section id="ratingMechanism{{ id }}" class="feedback-mechanism horizontal rating-type">
        <p class="rating-text col col-left">
            {{ title }}
        </p>
        <p class="rating-input col col-right">

        </p>
        <div class="clearfix"></div>
    </section>
{{/if}}