// feedback button
$feedbackEntryPointBoxShadow: 1px 1px 1px 0 #1A6FC2;

// feedback dialog
$dialogFontFamily: Tahoma, Verdana, Segoe, sans-serif;

// feedback dialog title
$dialogTitlebarBackgroundColor: rgb(226, 226, 226);
$dialogTitlebarColor: #282828;
$dialogTitlebarBorderColor: transparent;

// dialog buttons
$buttonBackgroundColor: #f9f9f9;
$buttonHoverColor: #282828;
$buttonHoverBackgroundColor: #F2F2F2;
$buttonGradientEnabled: false;
$buttonGradientColor1: #f9f9f9;
$buttonGradientColor2: #f9f9f9;
$buttonGradientColor3: #f9f9f9;
$buttonHoverGradientColor1: #F2F2F2;
$buttonHoverGradientColor2: #F2F2F2;
$buttonTextColor: #282828;
$buttonFontSize: 13px;
$buttonBorderWidth: 1px;
$buttonBorderStyle: solid;
$buttonBorderColor: #b9b9b9;
$buttonHeight: 32px;
$buttonTextTransform: none;

// submit button
$submitButtonBackgroundColor: rgba(28, 65, 111, 1);
$submitButtonColor: white;
$submitButtonHoverBackgroundColor: #5a7393;
$submitButtonHoverColor: white;
$submitButtonFontWeight: bold;


.feedback-library p.rating-text {
  line-height: 1em !important;
}

.category-type label {
  font-size: 15px;
}

.feedback-library-wrapper .ui-widget-header {
  background: none;
  border: none;
  border-bottom: 2px solid #5a7393;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0 14px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 10px;
}

.feedback-library-wrapper button.ui-dialog-titlebar-close {
  background: none;
  border: none;
}

.feedback-library .feedback-mechanism.category-type p {
  margin-bottom: 5px;
}

.feedback-library p.rating-text {
  margin-top: 7px;
}