<input #searchField (keyup)="search(searchField.value)" value="" class="form-control search" placeholder="Search"
       autofocus>

<button (click)="exportAsCSV()" id="export" class="action btn-primary btn-xs">CSV Export</button>
<button (click)="markAsRead()" id="markAsRead" class="action btn-default btn-xs" [class.btn-primary]="selectedFeedbacks.length > 0">Mark as read</button>
<div class="btn-group">
  <button type="button" class="action btn btn-default dropdown-toggle" [class.btn-primary]="selectedFeedbacks.length > 0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Status <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">New</a></li>
    <li><a href="#">Approved</a></li>
    <li><a href="#">Rejected</a></li>
    <li><a href="#">Implemented</a></li>
  </ul>
</div>


<div class="row">
  <section class="col-sm-9">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th></th>
        <th [class.asc]="sortOrder['id'] === 'asc'" [class.desc]="sortOrder['id'] === 'desc'"
            (click)="sortClicked('id')">
          ID
          <i *ngIf="sortOrder['id'] === 'asc'" class="glyphicon glyphicon-triangle-top"></i>
          <i *ngIf="sortOrder['id'] === 'desc'" class="glyphicon glyphicon-triangle-bottom"></i>
        </th>
        <th></th>
        <th [class.asc]="sortOrder['title'] === 'asc'" [class.desc]="sortOrder['id'] === 'desc'"
            (click)="sortClicked('title')">
          Title
          <i *ngIf="sortOrder['title'] === 'asc'" class="glyphicon glyphicon-triangle-top"></i>
          <i *ngIf="sortOrder['title'] === 'desc'" class="glyphicon glyphicon-triangle-bottom"></i>
        </th>
        <th [class.asc]="sortOrder['date'] === 'asc'" [class.desc]="sortOrder['id'] === 'desc'"
            (click)="sortClicked('date')">
          Date
          <i *ngIf="sortOrder['date'] === 'asc'" class="glyphicon glyphicon-triangle-top"></i>
          <i *ngIf="sortOrder['date'] === 'desc'" class="glyphicon glyphicon-triangle-bottom"></i>
        </th>
        <th>App ID</th>
      </tr>
      </thead>
      <tbody *ngIf="applications">
      <tr *ngFor="let feedback of filteredFeedbacks; let i = index" [class.unread]="i < 4">
        <td>
          <input (change)="select($event, feedback)" class="checkbox" type="checkbox" name="{{feedback.id}}"
                 value="{{feedback.id}}">
        </td>
        <td>
          <a [routerLink]="['/feedback-detail', feedback.id]">#{{feedback.id}}</a>
        </td>
        <td><i class="glyphicon glyphicon-star-empty"></i></td>
        <td>{{feedback.title}}</td>
        <td>{{feedback.createdAt | date: 'dd.MM.yyyy H:mm'}}</td>
        <td>{{feedback.applicationId | applicationNameById:applications:feedback.applicationId}}</td>
      </tr>
      </tbody>
    </table>
  </section>

  <section class="filters-sidebar col-sm-3">
    <h4 class="filters">Filters</h4>

    <h5>Application</h5>
    <article *ngIf="applications" class="filters">
      <span #applicationFilter (click)="clickedApplicationFilter(application)"
            [class.label-primary]="application.filterActive" class="label label-default"
            *ngFor="let application of applications">
        {{ application.name| truncate: 50 }}
      </span>
    </article>

    <h5>Status</h5>
    <span class="label label-default">read</span><br/>
    <span class="label label-default">unread</span><br/>
    <span class="label label-default">rejected</span><br/>
    <span class="label label-default">approved</span><br/>
    <span class="label label-default">implemented</span><br/>
    <br/>

  </section>
</div>
