input.search {
  width: 200px;
  margin: 5px 0;
  display: inline-block;
  margin-right: 10px;
  border-radius: 0;
}

article.filters {
  display: block;
}

article.filters span {
  margin-right: 5px;
  margin-top: 5px;
  text-align: left;
  cursor: pointer;
  display: inline-block;
  width: auto;
}

table {
  margin-top: 20px;
}

h4.filters {
  border-bottom: 2px solid #ddd;
  padding: 19px 0 4px 0;
}

.filters-sidebar h5 {
  margin-top: 20px;
}
