<h2>Settings</h2>

<h3>Application</h3>

<main class="row">
  <article *ngIf="application && application.state === 0" class="col-md-8">
    <p class="application-state bg-danger">Application is disabled</p><br />
    <button (click)="toggleApplicationState(application.id)" class="btn-small">Enable Application</button>
  </article>
  <article *ngIf="application && application.state === 1" class="col-md-8">
    <p class="application-state bg-success">Application is enabled</p><br />
    <button (click)="toggleApplicationState(application.id)" class="btn-small">Disable Application</button>
  </article>
</main>


<br />
<h3>Notifications</h3>

<main class="row">
  <article class="col-md-8">

    <table class="table table-condensed">
      <thead>
      <tr>
        <th>E-Mail</th>
        <th>App ID</th>
        <th>Active</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let notificationSetting of notificationSettings">
        <td><input #updatedEmail type="email" class="form-control" value="{{notificationSetting.email}}"/></td>
        <td>{{notificationSetting.applicationId}}</td>
        <td><input #updatedActive type="checkbox" [attr.checked]="notificationSetting.active"></td>
        <td><a (click)="update(notificationSetting.id, updatedEmail.value, notificationSetting.applicationId, updatedActive.checked)">Update</a></td>
      </tr>
      <tr>
        <td><input #newEmail type="email" class="form-control" placeholder="E-Mail"/></td>
        <td><input #newNumber type="number" value="8" disabled></td>
        <td><input #newActive type="checkbox"></td>
        <td><a (click)="create(newEmail.value, newNumber.value, newActive.checked)">Create</a></td>
      </tr>
      </tbody>
    </table>

  </article>
</main>

