<article *ngIf="feedback">

  <div class="row">
    <header class="title col-xs-12">
      <h2>#{{feedback.id}} {{feedback.title}}</h2>
      <article class="controls">
        <i class="glyphicon glyphicon-star-empty"></i>
        &nbsp;
        <button *ngIf="feedback.personalFeedbackStatus" (click)="markAsReadOrUnread(feedback, false)" id="markAsUnread"
                class="action btn-primary btn-xs">Mark as unread
        </button>
        <div class="btn-group">
          <button type="button" class="action btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Status <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a>New</a></li>
            <li><a>Approved</a></li>
            <li><a>Rejected</a></li>
            <li><a>Implemented</a></li>
          </ul>
        </div>
        <button *ngIf="feedbacks" [class.inactive]="feedback?.id === feedbacks[0]?.id" (click)="showPreviousFeedback()"
                type="button" class="action btn btn-primary btn-xs">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button *ngIf="feedbacks" [class.inactive]="feedback?.id === feedbacks[feedbacks.length - 1]?.id"
                (click)="showNextFeedback()" type="button" class="action btn btn-primary btn-xs">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </article>
    </header>
  </div>

  <div class="row">

    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#feedback" aria-controls="feedback" role="tab"
                                                  data-toggle="tab">Feedback</a></li>
        <li role="presentation"><a href="#configuration" aria-controls="configuration" role="tab" data-toggle="tab">Configuration</a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="feedback">
          <div class="row">

            <div class="col-sm-12 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Text Feedbacks</h3>
                </div>
                <div class="panel-body">
                  <p *ngIf="feedback.textFeedbacks && feedback.textFeedbacks.length === 0">No feedbacks</p>
                  <article class="row feedback-row" *ngFor="let textFeedback of feedback.textFeedbacks">
                    <span class="title-text col-xs-4">{{textFeedback.mechanism | parameterValue:'label'}}:</span>
                    <span class="col-xs-8">{{textFeedback.text}}</span>
                  </article>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Rating Feedbacks</h3>
                </div>
                <div class="panel-body">
                  <p *ngIf="feedback.ratingFeedbacks && feedback.ratingFeedbacks.length === 0">No feedbacks</p>
                  <article class="row feedback-row" *ngFor="let ratingFeedback of feedback.ratingFeedbacks">
                    <span *ngIf="ratingFeedback.mechanism">
                      <span class="title-text col-xs-4">{{ratingFeedback.mechanism | parameterValue:'title'}}:</span>
                      <span class="col-xs-8">{{ratingFeedback.rating}} /
                      {{ratingFeedback.mechanism | parameterValue:'maxRating'}}</span>
                    </span>
                    <br/>
                  </article>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Category Feedbacks</h3>
                </div>
                <div class="panel-body">
                  <p *ngIf="feedback.categoryFeedbacks && feedback.categoryFeedbacks.length === 0">No feedbacks</p>
                  <article class="row feedback-row" *ngFor="let categoryFeedback of feedback.categoryFeedbacks">
                    <p *ngIf="categoryFeedback.mechanism">
                      <span class="title-text col-xs-4">{{categoryFeedback.mechanism | parameterValue:'title'}}:</span>
                      <span class="col-xs-8">{{categoryFeedback.mechanism | optionValue:categoryFeedback.parameterId:categoryFeedback.text }}</span>
                      <br/>
                    </p>
                  </article>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Attachment Feedbacks</h3>
                </div>
                <div class="panel-body">
                  <p *ngIf="feedback.attachmentFeedbacks && feedback.attachmentFeedbacks.length === 0">No feedbacks</p>
                  <article class="row feedback-row" *ngFor="let attachmentFeedback of feedback.attachmentFeedbacks">
                    {{attachmentFeedback.mechanism | parameterValue:'title'}}: <br/>
                    <a (click)="downloadFile(attachmentFeedback)">{{attachmentFeedback.name}}</a>
                    <br/>
                  </article>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Audio Feedbacks</h3>
                </div>
                <div class="panel-body">
                  <p *ngIf="feedback.audioFeedbacks && feedback.audioFeedbacks.length === 0">No feedbacks</p>
                  <article class="row feedback-row" *ngFor="let audioFeedback of feedback.audioFeedbacks">
                    {{audioFeedback.mechanism | parameterValue:'title'}}: <br/>
                    <br/>
                  </article>
                </div>
              </div>

            </div>
            <div class="col-sm-12 col-md-6">
              <div *ngIf="feedback" class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Data</h3>
                </div>
                <div class="panel-body">
                  <dl class="dl-horizontal">
                    <dt>Application ID</dt>
                    <dd>{{feedback.applicationId}}</dd>
                    <dt>Configuration ID</dt>
                    <dd>{{feedback.configurationId}}</dd>
                    <dt>User ID</dt>
                    <dd>{{feedback.userIdentification}}</dd>
                    <dt>Date</dt>
                    <dd>{{feedback.createdAt}}</dd>
                    <dt>Language</dt>
                    <dd>{{feedback.language}}</dd>
                  </dl>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Screenshot Feedbacks</h3>
                </div>
                <div class="panel-body">
                  <p *ngIf="feedback.screenshotFeedbacks && feedback.screenshotFeedbacks.length === 0">No feedbacks</p>
                  <p *ngFor="let screenshotFeedback of feedback.screenshotFeedbacks">
                    <img src="{{ host }}{{ screenshotFeedback.path|correctPathPipe }}"
                         class="screenshot img-responsive"/>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="configuration">
          <div *ngIf="configuration" class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Configuration {{configuration.id}}</h3>
            </div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{application.name}}</dd>
                <dt>Created at</dt>
                <dd>{{application.createdAt}}</dd>
              </dl>
              <hr/>

              <h4>Mechanisms</h4>
              <article *ngFor="let mechanism of configuration.mechanisms">
                <dl class="dl-horizontal">
                  <dt>ID</dt>
                  <dd>{{mechanism.id}}</dd>
                  <dt>Type</dt>
                  <dd>{{mechanism.type}}</dd>
                  <dt>Active</dt>
                  <dd>{{mechanism.active}}</dd>
                  <dt>Order</dt>
                  <dd>{{mechanism.order}}</dd>
                  <br/>
                  <dt>Parameters</dt>
                  <dd>
                    <table class="table table-bordered table-condensed">
                      <thead>
                      <tr>
                        <th>key</th>
                        <th>value</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let parameter of mechanism.parameters">
                        <td>{{parameter.key}}</td>
                        <td>{{parameter.value}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </dd>
                </dl>
                <hr/>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
