img.screenshot {
  width: 50%;
}

header.title {
  margin-bottom: 30px;
}

header.title h2 {
  margin-right: 10px;
  vertical-align:middle;
}

article.controls {
  padding-top: 8px;
  display: inline-block;
  vertical-align:middle;
}

button.action {
  border-radius: 0;
  height: 32px;
  padding: 2px 10px;
  border: 1px solid #cccccc;
  font-size: 12px;
}

.tablist li {
  border-radius: 0;
}

.tab-pane {
  padding: 20px;
}

.panel {
  border-radius: 0;
}

button.inactive {
  background: #cccccc;
}
