<section id="SummaryForm" class="feedback-library feedback-container">
    <div class="row">
        <div class="col-md-4">.col-sm-4</div>
        <div class="col-md-4">.col-sm-4</div>
        <div class="col-md-4">.col-sm-4</div>
    </div>
</section>