<section id="InquiryForm_v2" class="feedback-library feedback-container">
    <form>
        <div class="alert alert-success" role="alert">
            Please provide an inquiry option for your feedback
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>May we contact you in case of questions related to your feedback?</p>
                <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio">
                        <input id="inquiryFormAllowUpdate" name="allowInquiry" value="Yes" type="radio" class="custom-control-input" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Yes</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="inquiryFormDenyUpdate" name="allowInquiry" value="No" type="radio" class="custom-control-input" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">No</span>
                    </label>
                </div>
            </div>
            <div class="col-md-6" id="hideDivInquiry">
                <p>Please choose a contact channel</p>
                <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio">
                        <input id="inquiryFormEmail" name="contactChannelInquiry" value="Email" type="radio" class="custom-control-input" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Email</span>
                    </label>
                    <label class="custom-control custom-radio" style="margin:15px">
                        <input id="inquiryFormCentral" name="contactChannelInquiry" value="Feedback-To-Feedback Central" type="radio" class="custom-control-input" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Feedback-To-Feedback Central</span>
                    </label>
                </div>
            </div>
        </div>
        <div role="alert" style="padding: 20px; background-color: #8ecf00; /* Red */
                color: white; margin-bottom: 15px;margin:15px;">
            <i>Hint: </i> You are able to adjust this settings in the F2F Central
        </div>
        <div class="row">
            <section class="dialog-navigation">
                <button style="float: left; display: block;" id="f2fDialogBackToUpdate">
                    Back</button>
                <button type="button"
                        class="button navigation-button" id="f2fDialogFinish">Save Settings</button>
                <div class="clearfix"></div>
                <span class="server-response"></span>
            </section>
            <!--<div class="col-md-1">-->
                <!--<button type="button" id="f2fDialogBackToUpdate" class="btn btn-primary">Back</button>-->
            <!--</div>-->
            <!--<div class="col-md-10"></div>-->
            <!--<div class="col-md-1">-->
                <!--<button type="button" id="f2fDialogFinish" class="btn btn-primary">Continue</button>-->
            <!--</div>-->
        </div>
    </form>
</section>