<section id="InquiryForm_v2" class="feedback-library feedback-container">
    <form>
        <div class="alert alert-success" role="alert">
            Please provide an inquiry option for your feedback
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>May we contact you in case of inquiries related to your feedback?</p>
                <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio">
                        <input id="inquiryFormAllowUpdate" name="allowInquiry" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Yes</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="inquiryFormDenyUpdate" name="allowInquiry" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">No</span>
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <p>Please choose a contact channel</p>
                <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio">
                        <input id="inquiryFormEmail" name="contactChannel" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Email</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="inquiryFormCentral" name="contactChannel" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Feedback-To-Feedback Central</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11"></div>
            <div class="col-md-1">
                <button type="button" id="f2fDialogFinish" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </form>
</section>