<section id="InquiryForm" class="feedback-library feedback-container">
    <p class="message">{{{ message }}}</p>
    <input type="radio" id="emailChannel" value="Email">
    <label for="emailChannel"> {{t "general.f2f_dialog_contactEmail" }}</label>
    <input type="radio" id="accountChannel" value="Account">
    <label for="accountChannel"> {{t "general.f2f_dialog_denyContact" }}</label>
    <button class="button" id="f2fDialogContinue">{{t "general.f2f_dialog_contactAccount" }}</button>

</section>