<section class="feedback-library" id="infoDialog">
    <p class="message">{{{ message }}}</p>

    <button class="button" id="infoDialogOkay">{{t "general.success_dialog_okay_button_title" }}</button>
</section>