<section class="feedback-library" id="intermediateDialog">
    <p>Would you like to give us some feedback?</p>

    <a id="feedbackYes">Yes</a>
    <a id="feedbackNo">No</a>
    <a id="feedbackLater">Later</a>
</section>