.App {
  text-align: center;
  background: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.widget-container > .launcher {
  display: none;
  background-color: #1A7E92;
}

.widget-container .conversation-container .header {
  background-color: #1A7E92;
}

.widget-container > .hide-sm {
  display: block;
}

.MyFeedbacksTabAccordion {
  color: #000;
}

.accordion__item	{
  background-color: #FFF;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
}

.accordion__body {
  padding-bottom: 16px;
}

.uk-comment-list {
  margin-top: 30px;
}

.uk-comment {
  display: flex;
  margin-top: 30px;
  background: #FFF;
  padding: 20px;
  width: 94%;
}

.uk-comment-header {
  display: flex;
  flex-direction: column;
}

button {
    background-color: #1A7E92;
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.forum-body-show-comment-container {
  margin-top: 10px;
}

.createCommentContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.usermessage {
  background: #82CAFF;
  float: inherit;
  line-height: 1.6;
  margin-left: 38%;
}

.oppositionmessage{
  background: #DAE2F3;
  float: inherit;
  line-height: 1.6;
  margin-right: 38%;
}

.Select {
  width: 30%;
  margin: 0 auto;
}

.forumComment {
  padding: 20px;
}

.iconContainer {
  padding-top: 10px;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.iconContainer .tooltiptext{
  visibility: hidden;
  width: 140px;
  height: 21px;
  line-height: 21px;
  border-radius: 4px;
  padding: 5px 0;
  color: black;
  text-align: center;
  position: relative;
  z-index: 1;
  display: inline;

/*  position: absolute;
  width: 140px;
  color: #FFFFFF;
  background: #000000;
  height: 21px;
  line-height: 21px;
  text-align: center;
  visibility: hidden;
  border-radius: 4px;*/

}

.iconContainer:hover .tooltiptext {
  visibility: visible;
}

.iconContainer svg {
  margin-left: 10px;
  flex-grow: 1;
}

.iconContainer svg:first-child {
  margin-left: 0px;
}

.iconContainer .thumbsIconContainer {
  position: relative;
  margin-left: 10px;
  flex-grow: 1;
}

.iconContainer >div{
  display: inline-block;
  margin-left: 10px;
}

.forumIconContainer {
  padding-top: 10px;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.forumIconContainer svg {
  margin-left: 10px;
  flex-grow: 1;
}

.forumIconContainer svg:first-child {
  margin-left: 0px;
}

.forumIconContainer >div{
  display: inline-block;
  margin-left: 10px;
}

.bundledIcon{
  flex-grow: 1;
  display: block;
}

.thumbsIconContainer {
  position: relative;
  margin-left: 8px;
  flex-grow: 1;
}

.companyIconContainer {
  padding-top: 10px;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.companyIconContainer svg {
  margin-left: 10px;
  flex-grow: 1;
}

.companyIconContainer svg:first-child{
  margin-left: 0px;
}

.companytitle .disabled {
  color: #EEE;
  background-color: red;
}

.thumbsCount {
  position: relative;
  top: -10px;
  left: 2px;
  background: black;
  color: white;
  padding: 0 2px;
}

.counts {
  position: relative;
  top: -7px;
  left: -1px;
  background: white;
  color: black;
  padding: 0 4px;
}

.settingsbox {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: right;
  width: 63%;
  height: 14%;
  position: relative;
  right: 66%;
  left: 0;
  padding: 20px;
  overflow: hidden;
  background: #efefef;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
}

.accordion {
  border-top: 1px;
  border-bottom: 1px;
  border: solid;
}

.accodion .active, .accordion:hover {
  background-color: #ccc;
}

.accordion-content {
  display: none;
  background-color: white;
  overflow: hidden;
  padding: 0 18px;
  border: 1px solid #333333;
}

.spacingstyle{
  line-height: 200%;
}

.statuscomplete{
  color: black;
  border: 1px solid #333333;
  padding: 3px 7px;
 /* background-image: linear-gradient(180deg, #009933,  #00e64d);*/
  background-color: #46B29D;
  fontSize: 8px;
  line-height: 200%;
}

.statusprogress{
  color: black;
  border: 1px solid #333333;
  padding: 3px 7px;
/*  background-image: linear-gradient(180deg, #ff884d, #ffbb99);*/
  background-color: #E37B40;
  fontSize: 8px;
  line-height: 200%;
}

.statusdeclined{
  color: black;
  border: 1px solid #333333;
  padding: 3px 7px;
/*  background-image: linear-gradient(180deg, #b3003b, #ff1a66);*/
  background-color: #DE5B49;
  fontSize: 8px;
  line-height: 200%;
}

.statusreceived{
  color: black;
  border: 1px solid #333333;
  padding: 3px 7px;
 /* background-image: linear-gradient(180deg, #1a8cff,  #99ccff);*/
  background-color: #F0CA4D;
  fontSize: 8px;
  line-height: 200%;
}

.statusunknown{
  color: black;
  border: 1px solid #333333;
  padding: 3px 7px;
  background-color: #324D5C;
  fontSize: 8px;
  line-height: 200%;
}

.promotingbanner{
  width: 100%;
  padding: 10px;
  border: 1px solid #CCCCCC;
  color: white;
  line-height: 200%;
  bottom: 0px;
}

.companyfeedbackform{
  line-height: 200%;
  color: #006CEF;
  text-align: justify;
  font-family: "Helvetica Neue";
}

.companyfeedbacktext{
  line-height: 200%;
  color: #000000;
  text-align: justify;
  font-family: "Helvetica Neue";
}

.formbuttons{
  background-color: #006CEF;
  border: none;
  color: white;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3px 1px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.formbuttons1{
  background-color: white;
  color: black;
  border: 2px solid #006CEF;
}

.formbuttons1:hover {
  background-color: #006CEF;
  color: white;
}

.formbuttons1:active {
  background-color: #006CEF;
  transform: translateY(4px);
}

.successful {
  background-color: #8cd9b1;
  color: #FFFFFF;
}

.dropzone {
  width: 600px;
  height: 240px;
  border-width: 2px;
  border-color: #676767;
  border-style: dashed;
  border-radius: 9px;
  background-color: #eeee;
}

.reactsanfonaitem {
  border-bottom: 1px solid #cacaca;
  padding-top: 3px;
  padding-bottom: 3px;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 10px;
}

.reactsanfonaitem:last-child{
  border-bottom: none;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-table;
  border: 1px solid #006CEF;
  border-bottom: none;
  bottom: 0px;
  position: relative;
  list-style: none;
  padding: 12px 12px;
  cursor: pointer;

}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: 2px solid #006CEF;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
