/*
This CSS, and the Bootstrap CSS library (in 'External Resources'), are not required and can safely be removed. They're only here to make the select less ugly and to show it can be styled in the same way as a 'regular' select.
*/


select.form-control {
    width: 70%;
}

select.placeholder {
    font-size: x-small;
}

.Select-placeholder,
.Select div,
.Select--single > .Select-control .Select-value{
    font-size: 8px;
}